@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<RazorClassLibrary1.Component1/>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount+=100;
    }
}
